@media screen and (width>=550px) {

    /* headaer */
    nav img {
        height: 100%;
    }

    /* main */
    .container {
        margin: 130px 0;
    }

    /* card */
    .card {
        padding: 25px 80px;
        gap: 120px;
    }

    .info h1 {
        font-size: 44px;
    }

    .info p {
        width: 545px;
        font-size: 17px;
    }

    .start {
        margin-top: 0;
        padding: 25px 95px;
    }

    /* section */
    .inner-section {
        padding: 40px 60px;
    }

    .info.data p {
        width: auto;
    }

    /* community */
    .community {
        padding: 45px 80px;
    }

    /* footer */
    .footer {
        padding: 45px 60px;
    }
}

@media screen and (width>=1060px) {

    /* figures */
    .figures {
        flex-direction: row;
        justify-content: space-around;
    }

    /* section */
    .inner-section {
        text-align: left;
        grid-template-columns: 50% 45%;
        justify-content: space-around;
        padding: 40px 95px;
    }

    .inner-section.color {
        grid-template-columns: 45% 50%;

    }

    .info.data {
        align-items: baseline;
    }

    .inner-section {
        grid-template-areas: 'data img';
    }

    .inner-section.color {
        grid-template-areas: 'img data';
    }

    /* footer */
    .footer {
        grid-template-columns: 335px 375px;
        grid-template-areas: 'foot2 foot1';
        justify-content: space-between;
        padding: 80px 95px;
    }

    .footer p {
        width: 372px;
    }

}

@media screen and (width>=1300px) {

    /* card */
    .img,
    .img img {
        width: auto;
        height: auto;
    }

    /* section */
    .inner-section {
        grid-template-columns: 560px 535px;
    }

    .inner-section.color {
        grid-template-columns: 535px 588px;
    }

    .info.data.part2 p {
        width: 587px;
    }

    .info.data p {
        width: 541px;
    }

    .image {
        width: 535px;
    }

    /* footer */
    .footer {
        grid-template-columns: 335px 522px;
    }

    .input-group {
        flex-direction: row;
        align-items: flex-start;
        gap: 36px;
    }

    #input,
    .msg {
        width: 314px;
    }
}